body{
    background-color:rgba(69, 15, 218, 0.507);
}
.container{
    text-align: center;
    margin-left:  200px;
    width: 800px;
    border-radius:  20px;
}
.hey{
    box-shadow:2px 2px 2px 2px rgb(156, 19, 81);
    margin: 30px;
    padding: 50px;
    background-color: rgb(126, 224, 60);
    border-radius: 5px;
}
img{
    border-radius: 50%;
}
h1{
    color:rgb(9, 9, 102);
}
p{
    color: brown;
}
h2{
    color: dodgerblue;
}
h3{
    color: cornflowerblue;
}
a{
    text-decoration: none;
}
.angel{
    box-shadow:2px 2px 2px 2px rgb(14, 139, 193);
    margin: 30px;
    padding: 50px;
    background-color: rgb(199, 27, 102);
    border-radius: 5px;
}



    *{
        text-align: center;
        margin-left:  80px;
        margin-right: 80px;
       border-radius:  20px;
   }

img{
   border-radius: 500px;
}
h1,h3{
   color: rgb(231, 19, 47);
}
#red,#blue,#green{
   box-shadow:2px 2px 2px 2px rgb(161, 25, 224);
   margin: 30px;
   padding: 50px;
   background-color: rgba(227, 220, 15, 0.874);
   border-radius: 10px;
}